
/*navigationbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.side{
    float: right;
    color: white;
    display: block;
    padding: 14px 16px;
}

li a:hover {
  background-color: #111;
}
/*Endnavigationbar*/

body{
    background-color:powderblue;
    font-family: arial;
}

div.head{
    background-color: #FFFFFF;
}
div.mcm{
    background-color: #FFFFFF;
    position: absolute;
    margin-top: auto;
    margin-right: auto;
    top: 305px;
    width: 100%;
    height: 700px;
}
div.cea{
    background-color: #FFFFFF;
    position: relative;
    margin-top: auto;
    margin-right: auto;
    width: 960px;
    height: 650px;
}
div.me{
    background-color: #FFFFFF;
    position: absolute;
    margin-top: auto;
    top: 305px;
    right: 10px;
}
div.food{
    background-color: #FFFFFF;
    position: absolute;
    margin-top: auto;
    top: 820px;
    right: 10px;
}

figure {
  padding: 10px;
  margin: auto;
  width: auto;

}

figcaption {
  font-style: italic;
  padding: 4px;
}

h1{
    text-align:center;
    padding: 80px;
}
h2.pt1{
    padding:20px;
}

h2.pt2{
    margin-left: 20px;
}

h4{
    margin-top: auto;
    margin-left: 20px;
}

footer{
    background-color:grey;
    text-align: center;
    padding:50px;
}
